:root {
  --first-title-color: #303030;
  --second-title-color: #ffffff;
  --first-btn-color: #303030;
  --second-btn-color: #ffffff;
  --accent-color: #ff6c00;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.container {
  /* width: 100%;
  max-width: 1200px; */
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
  display: block;
  margin-right: 20px;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  min-width: 160px;
  height: 40px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 300ms linear, color 300ms linear;
}

.btn:hover,
.btn:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

/* ------------HEADER-------------- */

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo {
  margin-right: 70px;
}

.header-logo-icon {
  fill: #303030;
}

.header > .container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 300ms linear;
}

.header-link:hover,
.header-link:focus {
  color: #ff6c00;
}

.current {
  position: relative;
}

.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 3px;
  left: 0;
  background-color: #ff6c00;
  bottom: -52px;
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
} */

.header-connect {
  margin-left: auto;
}

.header-btn {
  color: #ffffff;
  margin-left: 30px;
}

/* ------------HERO-------------- */

.hero {
}

.hero .container {
  display: flex;
}

.hero-soc {
  width: 90px;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
}

.hero-list {
  display: flex;
  transform: rotate(-90deg) translatey(100%);
  transform-origin: bottom left;
  align-items: center;
  gap: 40px;
}

.hero-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: #ff6c00;
}

.hero-content {
  padding: 272px 100px 206px;
  background-color: #373839;
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
}

.hero-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
}

/* ------------ABOUT-------------- */

.about {
  padding-top: 130px;
  padding-bottom: 130px;
}

.about .container {
  display: flex;
  gap: 64px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-pre-title {
  color: #303030;
  margin-bottom: 20px;
}
.about-title {
  color: var(--first-title-color);
  margin-bottom: 20px;
}
.about-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}
.about-btn {
  color: var(--first-btn-color);
}

/* ------------PRICES-------------- */

.prices {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #111319;
  background-image: url(../img/prices-bg.png), linear-gradient(#111319, #111319);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 130px;
  padding-bottom: 130px;
}
.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.prices-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  justify-content: space-between;
}

.prices-list {
  padding: 30px 40px;
  width: calc(50% - 15px);
}

.prices-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.prices-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
}

.prices-item::before {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin-left: 12px;
  margin-right: 12px;
}

.prices-item-text:first-child {
  order: -1;
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: var(--second-btn-color);

  display: block;
  margin: 50px auto 0;
}

/* ------------PRICES-------------- */

.benefits {
  padding-top: 121px;
  padding-bottom: 130px;
}

.benefits-item {
  width: 170px;
  height: 133px;
  border: 1px solid #000000;
  padding: 20px 24px;
}

.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item sup {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: var(--accent-color);
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-pre-title {
  color: #303030;
  margin-bottom: 20px;
}
.benefits-title {
  color: var(--first-title-color);
  margin-bottom: 20px;
}
.benefits-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/* ------------BARBERS-------------- */

.barbers {
  padding-top: 130px;
  padding-bottom: 130px;
}

.barbers-pre-title {
  color: #303030;
  margin-bottom: 20px;
}

.barbers-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  margin-top: 30px;
  margin-bottom: 8px;
}

.barbers-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.barbers-list {
  display: flex;
  column-gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-item:hover .barbers-top-text {
  transform: translateY(0%);
}

.barbers-top-wrap {
  position: relative;
  overflow: hidden;
}

.barbers-top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.6;
  padding: 40px;
  background-color: rgba(255, 106, 0, 0.588);
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}

.barbers-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: turquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 300ms linear;
}

.barbers-soc-icon {
  fill: #ffffff;
  transition: fill 300ms linear;
}

/* .barbers-soc-link:hover {
  background-color: tomato;
  color: teal;
} */

.barbers-soc-link:hover {
  background-color: tomato;
}

.barbers-soc-link:hover .barbers-soc-icon {
  fill: teal;
}

/* ------------GALLERY-------------- */

.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery-pre-title {
  color: #303030;
  margin-bottom: 40px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  /* margin: -15px; */
  column-gap: 30px;
  row-gap: 60px;
}

.gallery-item {
  /* width: calc(100% / 4 - 30px);
  margin: 15px; */
  width: calc((100% - 90px) / 4);
}

.contact-wrap {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #191c26;
  background-image: url(../img/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: calc(50% - 15px) 100%;
  background-position: right;
}

.contact-wrap .container {
  display: flex;
  justify-content: space-between;
}

/* ------------ONLINE-------------- */

.online {
  padding-top: 130px;
  padding-bottom: 130px;
  width: calc(50% - 15px);
}

.online-title {
  color: var(--second-title-color);
}

/* ------------CONTACTS-------------- */

.contacts {
  padding-top: 130px;
  padding-bottom: 130px;
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contacts-title {
  color: var(--second-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 70px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
  display: flex;
  align-items: center;
}

.contacts-link:hover {
  color: #ffffff;
}

.contacts-bottom-title {
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-bottom-text {
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: #9da4bd;
}

.contacts-icon {
  stroke: currentColor;
  fill: none;
  margin-right: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(48, 48, 48, 0.599);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(360deg);
}

.modal {
  background-color: #ffffff;
  border-radius: 5px;
  width: 500px;
  min-height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms linear;
  padding: 40px;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50%;
  background-color: transparent;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-input {
  width: 100%;
  height: 50px;
  border: 1px solid #999999;
  border-radius: 5px;
  padding-left: 10px;
  color: #555555;
  font-weight: 600;
  font-size: 14px;
}

.modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(27, 131, 19, 0.361);
}
.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(131, 62, 19, 0.361);
}
.modal-input:required {
  border-color: violet;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  color: teal;
}

.modal-label span,
.modal-form {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.modal-text {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 5px;
  resize: none;
  padding: 10px;
}

input:checked + label {
  background-color: #ff6c00;
}
