.about {
  padding-top: 130px;
  padding-bottom: 130px;
  .container {
    display: flex;
    gap: 64px;
  }
  &-list {
    display: flex;
    gap: 30px;
  }
  &-pre-title {
    color: #303030;
    margin-bottom: 20px;
  }
  &-title {
    color: var(--first-title-color);
    margin-bottom: 20px;
  }
  &-after-title {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: 20px;
  }
  &-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: 40px;
  }
  &-btn {
    color: var(--first-btn-color);
  }
}
