.about {
  padding-top: 130px;
  padding-bottom: 130px;
  .container {
    display: flex;
    gap: 64px;
  }

  &__pre-title {
    margin-bottom: 20px;
  }
  &__title {
    color: var(--first-title-color);
    margin-bottom: 20px;
  }
  &__after-title {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: 40px;
  }
  &__btn {
    color: var(--first-btn-color);
  }
}

.picture-list {
  display: flex;
  gap: 30px;
}
