.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  > .container {
    @extend %align-list;
  }
}

.header__logo {
  margin-right: 70px;
}

.logo__icon {
  fill: #ffffff;
}

.navigation__list {
  display: none;
}

.navigation__item:not(:last-child) {
  margin-right: 30px;
}

.navigation__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: #ff6c00;
  }
}

.current {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 3px;
    left: 0;
    background-color: #ff6c00;
    bottom: -52px;
  }
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
} */

.header__connect {
  margin-left: auto;
  display: none;
}

.connect__btn {
  color: #ffffff;
  margin-left: 30px;
}

.menu-open {
  margin-left: auto;
}

.mob-menu {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
  }
}
.menu-close {
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
}
.mob-menu-nav {
}
.mob-menu-list {
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-link {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;
  color: #303030;
}

.mob-connect {
  margin-bottom: 64px;
}
.mob-connect-tel {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;
  color: #303030;
}
.mob-connect-btn {
  display: block;
  margin-top: 24px;
}

.mob-soc-list {
  padding-left: 100px;
  position: relative;
}

.mob-soc-list::before {
  content: '';
  width: 60px;
  height: 1px;
  position: absolute;
  background-color: #303030;
  left: 0;
  top: 9px;
}

.mob-soc-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-soc-link {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.2em;

  color: #303030;
}
