.container {
  /* width: 100%;
  max-width: 1200px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @include mobile {
    max-width: 448px;
  }
  @include media(768px) {
    max-width: 720px;
  }

  @include desktop {
    max-width: 1200px;
  }
}
